
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  <%= @cocktail.name %>
</div>



<ul>
  <% @cocktail.doses.each do |d| %>
    <li>
      <p> <%= d.description %>
        <strong><%= d.ingredient.name %></strong>|
        <%= link_to "delete dose", doses_path(d), method: :delete %></p>
      <% end %>
    </li>
</ul>


<%= link_to "add dose", new_cocktail_dose_path(@cocktail)%>
<br>

<br>
<%= link_to "back to list", cocktails_path  %>



